@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Gowun+Dodum&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@300;400&family=WindSong:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: black;
}

#logo--image {
	margin-top: 20px;
	margin-left: 10px;
	cursor: pointer;
}

#header--wrap {
	display: flex;
	justify-content: space-between;
}

#nav--bar--wrap {
	display: flex;
	margin-top: 30px;
	margin-right: 10px;
}

#toggle--nav--bar {
	display: flex;
	width: 500px;
	text-align: center;
	margin-right: 20px;
}

#navi--1--wrap, #navi--2--wrap, #navi--3--wrap, #navi--4--wrap {
	flex: 1;
}

.navi--bar--1 {
	font-size: 20px;
	position: relative;
	padding-left: 30px;
}

.navi--bar--1 li a, .navi--bar--2 li a, .navi--bar--3 li a, .navi--bar--4 li a, .navi--bar--5 li a {
	text-decoration: none;
}

.navi--bar--1 li, .navi--bar--2 li, .navi--bar--3 li, .navi--bar--4 li, .navi--bar--5 li {
	list-style: none;
	height: 50px;
}

.navi--bar--detail--room {
	margin-top: 20px;
	display: none;
	position: absolute;
	left: -20px;
	z-index: 10000;
	background-color: #F6F6F7;
	opacity : 0.7;
	width: 150px;
}

.select--box {
	height: 30px;
	border: none;
	width: 100px;
	text-align: center;
}

.toggle--box--room:hover {
	cursor: pointer;
}

.navi--bar--2 {
	font-size: 20px;
	position: relative;
	padding-left: 10px;
}

.navi--bar--detail--fac {
	margin-top: 20px;
	display: none;
	position: absolute;
	left: -25px;
	background-color: #F6F6F7;
	opacity : 0.7;
	z-index: 100000;
	width: 150px;
}

.toggle--box--fac:hover {
	cursor: pointer;
}

.navi--bar--3 {
	font-size: 20px;
	position: relative;
}

.navi--bar--detail--reserve {
	margin-top: 20px;
	display: none;
	position: absolute;
	left: -27px;
	background-color: #F6F6F7;
	opacity : 0.7;
	z-index: 100000;
	width: 150px;
}

.toggle--box--reserve:hover {
	cursor: pointer;
}

.navi--bar--4 {
	font-size: 20px;
	position: relative;
}

.navi--bar--detail--qna {
	margin-top: 20px;
	display: none;
	position: absolute;
	right: 33px;
	background-color:#F6F6F7;
	opacity : 0.7;
	z-index: 100000;
	width: 150px;
}

.toggle--box--qna:hover {
	cursor: pointer;
}

.navi--bar--5 {
	color: black;
}

.symbol--box {
	display: flex;
}

.symbol--box li {
	padding-right: 30px;
}

.down--icon {
	height: 28.89px;
	display: flex;
	align-items: center;
}

.toggle--wrap--room {
	display: flex;
	cursor: pointer;
}
.toggle--wrap--fac {
	display: flex;
	cursor: pointer;
}
.toggle--wrap--reserve {
	display: flex;
	cursor: pointer;
}
.toggle--wrap--qna {
	display: flex;
	cursor: pointer;
}

#reservation--toggle--wrap {
	padding-left: 22px;
}
